# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.py text
*.sh text
*.php text
*.yaml text
*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.vbs text eol=crlf
*.bat text eol=crlf
*.ini text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.dll binary
*.crx binary
*.zip binary
